/* Mobile & Tablet */
@media (max-width: 1023px) {
  .promotion-item--des {
    font-size: 1.6rem;
  }
  .nav__list {
    display: none;
  }
  .nav-bar {
    justify-content: space-between;
  }
  .img-search {
    padding: 5px;
  }
  .icon-bar__mobile-tablet {
    font-size: 2rem;
    color: white;
    padding: 5px;
    margin-left: 5px;
  }
  .mb-bar {
    display: inline-block;
  }
  .nav-mobile-tablet__item:active {
    border-color: #ffc100;
  }
  .promotion {
    margin-top: 150px;
  }
  .globe-img {
    display: none;
  }
  .promotion-item {
    margin-top: 20px;
    height: auto;
  }
  .fun-title,
  .fun-des {
    text-align: center;
  }
  .section-token {
    margin-top: 30px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
  
  .content {
    height: auto;
    padding-bottom: 100px;
  }
  .soft-text-token {
    left:5%;
  }
  .icon-down {
    transform: translateX(-93%);
  }
    .footer-list__icon {
        flex-wrap: wrap;
    }
    .footer-up__icon {
        /* transform: translate(-50% ,-50%); */
    }
    .footer-item {
      padding-top: 15px ;
      font-size: 1.2rem;
      
    }
    
    .footer-list {
        display: inline-block;
    }
    .tab-icon {
        font-size: 1.2rem;
    }
    .question-tab p {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .icon-link {
      transform: translateY(50%);
    }
    .progress-small {
        left: 16px;
    }
    .fun-title,.fun-des {
        font-size: 1.8rem;
    }
    .promotion-btn {
        margin: auto;
        margin-top: 30px;
    }
    .des-about--full {
        margin: auto;
    }
    .des-about--full {
        margin-bottom: 20px;
    }
    .promotion {
        margin-top: 500px;
    }
  .des-wrap--about {
    margin-bottom: 30px;
  }
  .content-btn {
    display: block;
    margin: auto;
    width: 400px;
    height: auto;
    align-items: center;
  }
  .content-btn a {
    font-size: 1.2rem;
    
  }
  .container-app {
    text-align: center;
  }
  .nav {
    height: 70px;
  }
  .nav-bar {
    height: 70px;
    align-items: center;
    padding: 0 5px;
    overflow: hidden;

  }
  .nav__img-logo {
    transform: unset;
    align-items: center;
    width: 200px;
  }
  .tablet-mobile__nav {
    
    align-items: center;
    height: 70px;
    text-align: center;
    transform: translateY(-50%);
    
  }
  .chb-input:checked ~.search {
    transform: translateX(0%);
  }
  .input__search-checkbox {
    flex: 0 0 265px;
  }
  .search {
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    height: 40px;
  }
  @keyframes mobileSearchSideIn {
    from {
      opacity: 0;
      top: calc(var(--header-height) / 2);
    }
    to {
      opacity: 1;
      top: var(--header-height);
    }
  }
}
